@font-face {
    font-family: bodoni;
    src: url('fonts/Bodoni-36-Fatface-Italic.ttf') format('truetype');
    src: url('fonts/Bodoni-36-Fatface-Italic.otf') format('opentype');
}
@font-face {
    font-family: bodoni-light;
    src: url('fonts/Bodoni-36-Book.ttf') format('truetype');
    src: url('fonts/Bodoni-36-Book.otf') format('opentype');
}

/*whole page font*/
body
{
    font-family: bodoni;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #f8f8ff; /* ghost white */
    transition: background-color 3s;
    -webkit-transition: background-color 3s;
    -moz-transition: background-color 3s;
    -o-transition: background-color 3s;
}

h1 {
    font-size: 50px;
    font-stretch: extra-expanded;
}
.thicker {
    -webkit-text-stroke: 1px;
}
.thickest {
    -webkit-text-stroke: 2px;
}

img {
    width: 200px;
    border-bottom: none !important;
}

div {
    font-size: 28px;
}

p {
    color: #f7f7f7;
}

/* text links only */
a.dynamicHighlight {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #cbeefa;
    border-bottom: 1px solid #cbeefa;
}
a.dynamicHighlight:hover
{
    /* border-bottom: 1px solid #cbeefa; */
    box-shadow: 0px -4px 0px #cbeefa inset;
    font-style: italic;
}
a.jankyDoubleLine {
    text-decoration: none !important;
    border-bottom: 4px double #cbeefa !important;
}
a.jankyDoubleLine:hover {
    box-shadow: none !important;
    border-bottom: 5px solid #cbeefa !important;
}

.otherFont {
    font-family: sans-serif;
}

#footer {
    font-size: 24px;
    font-family: bodoni-light;
    margin-top: 30px;
}

#container {
    display: flex;
}

#colorwords {
    -webkit-text-stroke: 0.3px;
    margin-bottom: 50px;
}

#colorbox {
    /*float: left;*/
    flex: 3 700px;
    max-width: 750px;
    margin-right: 20px;
    /* width: 800px; */
}

#colorchips {
    /*
    float: inline-start;
    max-width: 500px;
    */
    margin-top: 20px;
    flex: 1; /* 106px; */
    /* max-width: 220px; */
}

.paintChipOuter {
    /*
    height: 7vh;
    width: 5vh;
    */
    height: 125px; /* 150px; */
    width: 100px;
    box-shadow: 5px 5px #000;
    float: left;
    margin: 5px;
    /*background-color: white;*/
}

.paintChipInnerBox {
    /*
    height: 5vh;
    width: 5vh;
    */
    height: 100px;
    width: 100px;
    z-index: 1;
    position: relative; /* so that transparency can be "absolute"ly aligned */
}

.paintChipTransparency {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
}
.paintChipTransparency:hover {
    /* crosshatch */
    /*
    background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 9px,
                                                rgba(255, 255, 255, 0.3) 9px, rgba(255, 255, 255, 0.3) 10px),
                      repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 9px,
                                                rgba(255, 255, 255, 0.3) 9px, rgba(255, 255, 255, 0.3) 10px);
    */
    /* just diag */
    background: repeating-linear-gradient(135deg,
        rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 9px  /* clear */,
        rgba(119, 119, 119, 1) 9px, rgba(119, 119, 119, 1) 10.5px /* lines */ );
    background-image: -webkit-repeating-linear-gradient(135deg,
        rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 9px  /* clear */,
        rgba(119, 119, 119, 1) 9px, rgba(119, 119, 119, 1) 10.5px /* lines */ );
    z-index: 10;
}
.active {
    background: repeating-linear-gradient(135deg,
        rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 9px /* clear */,
        rgba(0, 0, 0, 1) 9px, rgba(0, 0, 0, 1) 10.5px /* lines */ );
    background-image: -webkit-repeating-linear-gradient(135deg,
        rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 9px /* clear */,
        rgba(0, 0, 0, 1) 9px, rgba(0, 0, 0, 1) 10.5px /* lines */ );
    z-index: 10;
}

.paintChipInnerText {
    /*
    height: 2vh;
    width: 5vh;
    */
    /* height: 50px; */
    height: 25px;
    width: 100px;
    background-color: white;
    color: #000;
    font-size: 14px;
    font-family: bodoni-light;
    /* -webkit-text-stroke: 0.1px; */
    box-sizing: border-box; /* don't let padding mess w/size */
    padding-left: 5px;
    z-index: 1;
}
.paintChipInnerText::-moz-selection {
    background: black;
    color: white;
}
.paintChipInnerText::selection {
    background: black;
    color: white;
}
.paintChipInnerText::-webkit-selection {
    background: black;
    color: white;
}

/*
.noTransition {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
}
*/

.quickTransition {
    transition: background-color 1s !important;
    -webkit-transition: background-color 1s !important;
    -moz-transition: background-color 1s !important;
    -o-transition: background-color 1s !important;
}

.noSelect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
