@font-face {
    font-family: bodoni;
    src: url('fonts/Bodoni-36-Fatface-Italic.ttf') format('truetype');
    src: url('fonts/Bodoni-36-Fatface-Italic.otf') format('opentype');
}
@font-face {
    font-family: bodoni-light;
    src: url('fonts/Bodoni-36-Book.ttf') format('truetype');
    src: url('fonts/Bodoni-36-Book.otf') format('opentype');
}

/*whole page font*/
body
{
    font-family: bodoni;
    color: #f8f8ff; /* ghost white */
}

h1 {
    font-size: 50px;
    font-stretch: extra-expanded;
}

img {
    width: 200px;
    border-bottom: none !important;
}

div {
    font-size: 28px;
}

p {
    color: #f7f7f7;
}

/* text links only */
a.dynamicHighlight {
    /*font-style: italic;*/
    /*font-weight: bold;*/
    color: inherit;
    text-decoration-color: #cbeefa;
    border-bottom: 1px solid #cbeefa;
}
a.dynamicHighlight:hover
{
    border-bottom: 1px solid #cbeefa;
    box-shadow: 0px -4px 0px #cbeefa inset;
    font-style: italic;
}

.otherFont {
    font-family: sans-serif;
}

#footer {
    font-size: 24px;
    font-family: bodoni-light;
    margin-top: 30px;
}

#container {
    display: flex;
}

#colorwords {
    margin-bottom: 50px;
}

#colorbox {
    /*float: left;*/
    flex: 3 700px;
    max-width: 750px;
    margin-right: 20px;
    /* width: 800px; */
}

#colorchips {
    /*
    float: inline-start;
    max-width: 500px;
    */
    margin-top: 20px;
    flex: 1; /* 106px; */
    /* max-width: 220px; */
}

.paintChipOuter {
    /*
    height: 7vh;
    width: 5vh;
    */
    height: 125px; /* 150px; */
    width: 100px;
    box-shadow: 5px 5px #000;
    float: left;
    margin: 5px;
    /*background-color: white;*/
}

.paintChipInnerBox {
    /*
    height: 5vh;
    width: 5vh;
    */
    height: 100px;
    width: 100px;
    z-index: 1;
    position: relative; /* so that transparency can be "absolute"ly aligned */
}

.paintChipTransparency {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
}
.paintChipTransparency:hover {
    /*
    background: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black  75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
    /* crosshatch */
    /*
    background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 9px,
                                                rgba(255, 255, 255, 0.3) 9px, rgba(255, 255, 255, 0.3) 10px), repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 9px, rgba(255, 255, 255, 0.3) 9px, rgba(255, 255, 255, 0.3) 10px);
    */
    /* just diag */
    background-image: repeating-linear-gradient(135deg,
        rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 9px  /* clear */,
        rgba(119, 119, 119) 9px, rgba(119, 119, 119) 10.5px /* lines */ );
    z-index: 10;
}
.active {
    background-image: repeating-linear-gradient(135deg,
        rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 9px /* clear */,
        rgba(0, 0, 0) 9px, rgba(0, 0, 0) 10.5px /* lines */ );
    z-index: 10;
}

.paintChipInnerText {
    /*
    height: 2vh;
    width: 5vh;
    */
    /* height: 50px; */
    height: 25px;
    width: 100px;
    background-color: white;
    color: #000;
    font-size: 14px;
    font-family: bodoni-light;
    box-sizing: border-box; /* don't let padding mess w/size */
    padding-left: 5px;
    z-index: 1;
}
.paintChipInnerText::-moz-selection {
    background: black;
    color: white;
}
.paintChipInnerText::selection {
    background: black;
    color: white;
}
.paintChipInnerText::-webkit-selection {
    background: black;
    color: white;
}

.loopy {
    animation: fleshLoop 5s infinite linear;
}
@keyframes fleshLoop {
    25% {
        background-color: #e9d8a1;
    }
    75% {
        background-color: #442d26;
    }
    100% {
        background-color: #e9d8a1;
    }
}
